@model Stationery_Management_System.Product


@{
    ViewData["Title"] = "Create Product";
}

<h2>Create Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <label>Name</label>
        <input name="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label>Price</label>
        <input name="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div>
        <label>Quantity</label>
        <input name="Quantity" class="form-control" type="number" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div>
        <label>Upload Image</label>
        <input type="file" name="ImageFile" class="form-control" />
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

